MYSQL_ROOT_PASSWORD=not-in-git-change-me
MYSQL_DATABASE=trainingpulse
MYSQL_USER=trainingpulse
MYSQL_PASSWORD=not-in-git-change-me
MYSQL_VERSION=not-in-git-change-me

STRAVA_CLIENT_ID=not-in-git-change-me
STRAVA_CLIENT_SECRET=not-in-git-change-me
STRAVA_REDIRECT_URI=http://localhost:8000/strava/callback

JWT_PASSPHRASE=not-in-git-change-me