MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=trainingpulse
MYSQL_USER=trainingpulse
MYSQL_PASSWORD=change_me
MYSQL_VERSION=change_me

STRAVA_CLIENT_ID=change_me
STRAVA_CLIENT_SECRET=change_me
STRAVA_REDIRECT_URI=http://localhost:8000/strava/callback